.librarian/
.tmp/
Vagrantfile
.vagrant
modules/*
!modules/.PLACEHOLDER

hiera/application_environment/drv-pre-prod.yaml
hiera/vagrant-repository.yaml
hiera/vagrant-broker.yaml
hiera/vagrant.yaml
hiera/common.yaml

Puppetfile.lock
