.librarian/
.tmp/
Vagrantfile
.vagrant
modules/*
!modules/.PLACEHOLDER

hiera/vagrant-repository.yaml
hiera/vagrant-broker.yaml
hiera/vagrant.yaml
hiera/application_environment/development.yaml
Puppetfile.lock
